
.square {
    display: flex;
    height: 30px;
    width: 30px;
    background-color: lightgrey;
    outline: 1px solid black;
    flex: 0 0 auto;
    justify-content: center;
    align-items: stretch;
}